[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "codename"]
	path = codename
	url = https://github.com/svmiller/codename
[submodule "dragracer"]
	path = dragracer
	url = https://github.com/svmiller/dragracer
[submodule "peacesciencer"]
	path = peacesciencer
	url = https://github.com/svmiller/peacesciencer
[submodule "stevedata"]
	path = stevedata
	url = https://github.com/svmiller/stevedata
[submodule "stevemisc"]
	path = stevemisc
	url = https://github.com/svmiller/stevemisc
[submodule "stevetemplates"]
	path = stevetemplates
	url = https://github.com/svmiller/stevetemplates
[submodule "stevethemes"]
	path = stevethemes
	url = https://github.com/svmiller/stevethemes
